body { font-family: Arial, sans-serif;
  margin: 0; 
  padding: 0;
 display: flex;
  justify-content: center;
 align-items: center; 
 min-height: 100vh; 
 background-image: url("images/hq720.jpg"); }

.container {
 width: 90%; 
 max-width: 1200px;
 margin: auto;
 background: white;
 padding: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 margin-top: 40px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    margin: 0;
  }

h3 { 
 text-align: center; 
}

.input-list { 
 display: flex; 
 flex-wrap: wrap; 
 gap: 20px; 
} 

.input-container { 
 flex: 1 1 200px; 
 display: flex; 
 flex-direction: column; 
} 

.input-container label { 
 margin-bottom: 5px; 
} 

.input-container input, .dropdown { 
 padding: 10px; 
 font-size: 16px; 
 border: 1px solid #ccc; 
 border-radius: 4px; 
 background-color: white; 
 color: #333;
} 

.dropdown { 
 appearance: none; 
 -webkit-appearance: none; 
 -moz-appearance: none;
 background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" stroke="currentColor" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M6 9l6 6 6-6"/></svg>'); 
 background-repeat: no-repeat; 
 background-position: right 10px center; 
 padding-right: 30px;
}

ul { 
 display: flex; 
 flex-wrap: wrap; 
 gap: 10px; 
 list-style: none; 
 padding: 0; 
} 

ul li button { 
 padding: 10px; 
 font-size: 14px; 
 border: none; 
 background: #007bff; 
 color: white; 
 border-radius: 4px; 
 cursor: pointer; 
} 

ul li button:hover { 
 background: #0056b3; 
} 

table { 
 width: 100%; 
 border-collapse: collapse; 
 margin-bottom: 20px; 
} 

table, th, td { 
 border: 1px solid black; 
} 

th, td { 
 padding: 8px; 
 text-align: left; 
 border: 1px solid #ddd;
} 

.button-container { 
 display: flex; 
 gap: 10px; 
 margin-bottom: 20px; 
} 

.add, .remove { 
 font-size: 12px; 
 padding: 5px 10px; 
 background: #007bff; 
 color: white; 
 border: none; 
 border-radius: 4px; 
 cursor: pointer; 
} 

.add:hover, .remove:hover { 
 background: #0056b3; 
} 

@media (max-width: 600px) { 
 .input-list { 
     flex-direction: column; 
 } 
 .button-container { 
     flex-direction: column; 
     align-items: center; 
 } 
 .add, .remove { 
     width: 100%; 
     margin: 5px 0; 
 } 
}


input[type="text"], input[type="number"], input[type="date"] {
 width: 100%;
 box-sizing: border-box;
}

.container {
 width: 100%;
 max-width: 1200px;
 margin: auto;
}
.header {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.logo-container {
 display: flex;
 gap: 20px;
}
.logo-container img {
 width: 100px;
 height: auto;
}
table {
 width: 100%;
 border-collapse: collapse;
}
th, td {
 padding: 8px;
 text-align: left;
 border: 1px solid #ddd;
}
input[type="text"], input[type="number"], input[type="date"] {
 width: 100%;
 box-sizing: border-box;
}
.table-container {
 margin-top: 20px;
}

.form-buttons { 
 display: flex; 
 justify-content: flex-end; 
} 
.form-buttons button {
  margin-left: 10px; 
 }

/* Estilos para la barra de navegación */
.navbar {
 position: fixed; /* Fija la barra en la parte superior */
 top: 0;
 width: 100%;
 z-index: 100; /* Asegúrate de que esté por encima de otros contenidos */
 background-color: #333;
 overflow: hidden;
}

/* Añade margen al cuerpo para evitar que el contenido quede oculto debajo de la barra de navegación */
body {
 margin-top: 50px; /* Ajusta esta cantidad según la altura de tu barra de navegación */
}

/* Estilos para los enlaces de navegación */
.navbar { 
 display: flex; 
 justify-content: flex-end; 
 align-items: center; 
 background-color: #333; 
 color: #333; 
 padding: 10px; 
} 
.form-buttons { 
 display: flex; 
 gap: 10px; 
} 
.navbar button { 
 background-color: #4CAF50; 
 color: white; 
 border: none; 
 padding: 10px 20px; 
 cursor: pointer; 
} 
.navbar button.reset { 
 background-color: #f44336; 
}

.flex-container {
    display: flex;
    gap: 20px;
}
.flex-container > div {
    flex: 1;
}

.hidden {
    display: none;
}

